.label-page .label-container {
  display: grid;
  grid-template-areas:
    "  Company       Manufacturer   "
    "  Fertiliser    Fertiliser     ";
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.label-page.confirm-container {
  justify-content: center;
  display: flex;
  height: calc(100vh - var(--header-height));
  margin-left: 10vw;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.label-page h2 {
  margin-top: 5px;
}

.label-page .section-fertiliser {
  grid-area: Fertiliser;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  padding-left: 10%;
}
.label-page .section-company {
  grid-area: Company;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
}

.label-page .section-manufacturer {
  grid-area: Manufacturer;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
}
