.saved-label-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    padding-bottom: 20px;
}