/* ContextMenu.css */
.context-menu {
  position: fixed; /* Use fixed instead of absolute to position relative to the viewport */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ddd;
  z-index: 100; /* to make sure it's above all the other elements */
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.context-menu ul li:last-child {
  border-bottom: none;
}

.context-menu ul li:hover {
  background-color: #f7f7f7;
}
