.card{
  width: 100%;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  background: rgb(245, 245, 245);
  margin: 10px 5%;
  display: grid;
  grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
  grid-template-areas: 
    " company-grid"
    " fertilizer-grid"
    " registration-grid"
    " lot-number-grid"
    "footer-grid";
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  padding:0px 20px 20px 20px;

}

@media  (max-width: 700px) {
  .card {
    width: 60%;
  }
}


@media (min-width: 700px) { 
  .card {
    width: 70%; 
  }
}
.company-label,
.company-result,
.fertilizer-label,
.fertilizer-result,
.registration-label,
.registration-result,
.lot-number-label,
.lot-number-result,
.user-label,
.user-result,
.date-label,
.date-result{
  font-size: calc(10px + 1vw)!important;
}

/*Grid positioning*/
/*Company*/
.company-grid{
  grid-area: company-grid;
  display: grid;
  grid-template-areas: 
    "company-label company-result";
  justify-content: start!important;
}
.company-label{
  grid-area: company-label;
  font-size: 2rem;
  font-weight: bold;
  margin: 5px;
  justify-self: start;
}
.company-result{
  grid-area: company-result;
  font-size: 2rem;
  margin: 5px;
  justify-self: start;
}
/*Fertilizer*/
.fertilizer-grid{
  grid-area: fertilizer-grid;
  display: grid;
  grid-template-areas: 
    "fertilizer-label fertilizer-result";
  justify-content: start!important;
  align-items: end;
}
.fertilizer-label{
  grid-area: fertilizer-label;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.fertilizer-result{
  grid-area: fertilizer-result;
  font-size: 1.2rem;
  margin: 5px;
}
/*Registration*/
.registration-grid{
  grid-area: registration-grid;
  display: grid;
  grid-template-areas: 
    "registration-label registration-result";
  justify-content: start!important;
  align-items: end;
}
.registration-label{
  grid-area: registration-label;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.registration-result{
  grid-area: registration-result;
  font-size: 1.2rem;
  margin: 5px;
}

/*Lot number*/
.lot-number-grid{
  grid-area: lot-number-grid;
  display: grid;
  grid-template-areas: 
    "lot-number-label lot-number-result";
  justify-content: start!important;
  align-items: end;
}
.lot-number-label{
  grid-area: lot-number-label;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.lot-number-result{
  grid-area: lot-number-result;
  font-size: 1.2rem;
  margin: 5px;
}

.footer-grid{
  grid-area: footer-grid;
  display: grid;
  grid-template-areas: 
    "user-grid upload-grid";
  align-content: end;
}
html{
  overflow-x: hidden;
}

/*Inspector*/
.user-grid{
  grid-area: user-grid;
  display: grid;
  grid-template-areas: 
    "user-label user-result";
  justify-content: start!important;
  align-items: end;
}
.user-label{
  grid-area: user-label;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.user-result{
  grid-area: user-result;
  font-size: 1.2rem;
  margin: 5px;
}

/*Upload*/
.upload-grid{
  grid-area: upload-grid;
  display: grid;
  grid-template-areas: 
    "date-label date-result";
  justify-content: end!important;
  align-items: end;

}
.date-label{
  grid-area: date-label;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.date-result{
  grid-area: date-result;
  font-size: 1.2rem;
  margin: 5px;
}
/*End of grid positioning*/
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}