.data-infos {
  display: flex;
  flex-direction: column;
}
.confirm-page-container {
  display: grid;
  grid-template-areas:
    "title title"
    "pics infos";
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

}
.confirm-page-container .carousel-wrapper {
  grid-area: pics;
}
#confirm-title {
  grid-area: title;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}
.confirm-container {
  grid-area: infos;
  border: 2px rgb(172, 170, 170) solid;
  border-radius: 10px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgb(220, 219, 219);
  text-overflow: ellipsis;
  margin-right: 3%;
  overflow-y: auto!important;
  overflow-x: hidden;
  padding-bottom: 5%!important;
  height: 70vh;
}

html{
  overflow-y: hidden;
}

.confirm-container h2 {
  text-align: left;
  margin-bottom: 0px;
}
.confirm-container ul {
  padding-left: 20px;
}
.confirm-container li {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

@media only screen and (min-width: 1230px) {
  .carousel-wrapper{
    grid-area: pics;
    left:10%;
    max-width: 70%!important;
    height: auto !important;
    margin-top: 0;
    margin-left: 5%;
  }
  .curr-img img {
    width: calc(100%) !important;
    height: auto !important;
  }
  .confirm-page-container .carousel-img{
    width:20% ;
  }
}
