.data-infos {
  display: flex;
  flex-direction: column;
}
.confirm-page-container {
  display: grid;
  grid-template-areas:
    "title title"
    "pics infos";
  grid-template-columns: 1fr 1fr;
}
.confirm-page-container .carousel-wrapper {
  grid-area: pics;
}
#confirm-title {
  grid-area: title;
  text-align: center;
}
.confirm-container {
  grid-area: infos;
  border: 2px rgb(172, 170, 170) solid;
  border-radius: 10px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgb(220, 219, 219);
  text-overflow: ellipsis;
  margin-right: 3%;
}
.confirm-container h2 {
  text-align: left;
  margin-bottom: 0px;
}
.confirm-container ul {
  padding-left: 20px;
}
.confirm-container li {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

/* InputComponent.css */
.checkbox-container {
  display: flex;
  align-items: center; 
  padding-left: 20px;
}

.checkbox-input {
  /* Should be smaller than the default input size, change as per your need */
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Add space between checkbox and label */
  /* Other styling can be added here, possibly customizing the appearance */
}

.checkbox-label {
  font-size: 16px;
  text-align: justify;
}