.loader-container.active{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("../../assets/6.svg") center
        no-repeat;
    z-index: 1;
}
.loader-container p{
    position: absolute;
    top: 55%;
    right:35%;
    left:35%;
}

.loader-container{
    display: none;
}