.error-banner {
  display: none; /* Initially hide the banner */
  justify-content: center; /* Center content horizontally if necessary */
  position: fixed; 
  top: 99.96px ; /* A fixed top position */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: #f4201182; 
  color: white; 
  text-align: center; 
  z-index: 9999; 
  width: 30vw;
  height: 7vh!important;
  border-radius: 10px;
  flex-direction: row;
  padding: 0px!important;
  padding-top: 0px!important ;
  height: fit-content;
}

.error-banner.show {
  display: flex; /* Show the banner when 'show' class is added */
}

.error-alert {
  background-color: transparent; /* Removed non-transparent color */
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 100%; /* Make sure alert takes full width */
}

.error-alert__icon {
  width: 10%; /* Set width matching original inline style */
  margin-right: 15px; /* Give some space after the icon */
  margin-left: 10px;
}

.error-alert__message {
  font-size: 16px;
}