.formPage-container {
  display: grid;
  justify-content: space-between;
  padding: 0 10px;
  grid-template-columns: '1fr auto';
  grid-gap: '1rem';
  align-items: 'start';
}

@media only screen and (min-width: 1231px) {
  .formPage-container {
    grid-template-areas:
      "pics data progress-bar";
    grid-template-columns:  40% 50% 5%;
  }
}

@media only screen and (max-width: 1230px) {
      "pics data"
      "pics open-icon"
      "progress-bar"; /* Add a new row for the open-icon */
    grid-template-columns: 40% 50% 5%;
  }
}

.pic-container {
  grid-area: pics;
  margin-left: 10%;
}

}
.progress-wrapper {
  grid-area: progress-bar;
  right: 0;

@media (prefers-color-scheme: dark) {
  .open-icon {
    filter: invert(74%) sepia(37%) saturate(0%) hue-rotate(249deg)
      brightness(101%) contrast(98%);
  }
}

/* Text box container styles */
.data-container {
  grid-area: data;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: 60px;
  /* Add justify-content: space-between to position elements at the top and bottom */
  justify-content: space-between;
  align-items: left;
  font-family: Arial, sans-serif, Bold;
  color: #000000;
  font-size: 20px;
}

.data-container h1 {
  text-align: left;
  margin-left: 20px;
  font-size: 40px;
}

.data-container label {
  text-align: left;
  margin-left: 20px;
}

.textbox-container {
  display: flex; /* Enable flexbox layout */
  justify-content: left; /* Center horizontally within the container */
  align-items: center; /* Center vertically within the container */
  width: 45vw; /* Make the container take up the full width */
  margin-left: 20px;
  flex-direction: row;
}

.underlined {
  text-decoration: underline;
}

/* Text box styles */
textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100rem;
  height: auto;
  min-height: 40px;
  max-height: 97px;
  resize: none;
  background-color: rgb(220, 219, 219);
  overflow-y: hidden;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 3px;
  padding-bottom: 10px;
  /* Text style properties */
  font-family: Arial, sans-serif, Bold; /* Specify a fallback font */
  font-size: 20px;
  font-weight: 400; /* Normal weight */
  color: #000000; /* Dark gray */
  text-decoration: none;
}

.open-icon {
  position: relative;
  margin-left: 30px;
  width: 120%; /* Make the label take up the full width of the textbox container */
  font-size: 15px; /* Set font size for the label */
  text-decoration: underline;
  color: darkgrey;
}

.show-more-container{
  display: flex-end;
  width: 45vw;
  align-self: end;
}

.data-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
}

.input-container {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.input-container input {
  width: 98%;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.button {
  background-color: #dcdcdc;
}
.input-error {
  border: 2px solid red; /* Entoure l'élément d'une bordure rouge */
}

.loader-container-form.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.834) url("../../assets/6.svg") center no-repeat;
  z-index: 1;
}
.loader-container-form p {
  position: relative;
  top: 7%;
}
.loader-container-form {
  display: none;
}
