.drag-drop-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #fff; /* White background color */
  border: 2px solid #ccc; /* Gray border color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  position: relative; /* To position the plus sign */
}

.drag-drop-file-input:hover {
  border: 2px solid #777; /* Gray border color */
}

.drag-drop-file-input.active {
  border: 2px solid #777;
}

.drag-drop-file-input::before {
  content: "+"; /* Plus sign content */
  font-size: 30px; /* Adjust font size as needed */
  color: #ccc; /* Gray color for the plus sign */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the plus sign */
}

.drag-drop-file-input:hover::before {
  color: #777; /* Change the color of the plus sign on hover */
}

.drag-drop-file-input.active::before {
  color: #777; /* Change the color of the plus sign on hover */
}

.drag-drop-file-input.hasFile::before {
  display: none;
}

.drag-drop-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="file"] {
  display: none; /* Hide the default input file button */
}

#preview {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

#preview.active {
  display: block;
}

.drag-drop-container{
  grid-area: a;
}

/* DragDropFileInput.css */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  margin-left: 30%;
  gap: 10px;
}
