.btn-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    top: 10px;
    left: 10px;
    z-index: 1;
    border:1px solid black;
  }

.btn-container button {
    border: none;
    color: #737373;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
  }
