.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  top: 10px;
  left: 10px;
  z-index: 1;
  border: 1px solid black;
}

.btn-container button {
  border: none;
  color: #737373;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}

.zoom-in-out {
  cursor: grab;
  height: 100%;
  width: 50%;
}
.zoom-in-out:active {
  cursor: grabbing;
}
.test {
  width: 50%;
}
.transform-component-module_wrapper__SPB86 {
  width: 100%;
}
