/* Styles de l'overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.overlay.active {
  display: grid;
  grid-template-areas: "pics card";
  grid-template-columns: 50% 50%;
}

/* Styles de la carte */
.card {
  grid-area: card;
  width: 90%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .card {
    background: #333;
  }
}

/* Styles du bouton de fermeture */
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* Styles du contenu de la carte */
.card-content {
  height: 306px; /* 306 because the scrollbar of the card when text area is show appears */
  overflow-y: auto;
}

/* Styles du texte de la carte */
.card-content p {
  font-size: 18px; /* Increase font size for fertilizer instructions */
  margin: 0; /* Remove margin from the top of the text */
  border: none; /* Remove border from the text */
  width: 100%;
  height: 100%;
  resize: none;
  white-space: wrap; /* Enable automatic line wrapping */
  font-family: Arial, sans-serif, Bold; /* Specify a fallback font */
  font-size: 20px;
  font-weight: 400; /* Normal weight */
  color: #000000; /* Dark gray */
  text-decoration: none;
}

/* Styles du textarea de la carte */
.card-content textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 17px; /* Set base font size for card content */
  max-height: fit-content;
  font-family: Arial, sans-serif, Bold; /* Specify a fallback font */
  font-size: 20px;
  font-weight: 400; /* Normal weight */
  color: #000000; /* Dark gray */
  text-decoration: none;
  overflow-y: visible;
}

/* Styles du pied de page de la carte */
.card-footer {
  text-align: right;
  margin-top: 10px;
}

/* Styles du bouton modifier/enregistrer */
.card-footer button {
  width: 150px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.card ::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}
.card ::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(118, 118, 118);
}
.card ::-webkit-scrollbar-track {
  margin-top: 3px;
  padding-right: 10px;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  .open-icon {
    filter: invert(74%) sepia(37%) saturate(0%) hue-rotate(249deg)
      brightness(101%) contrast(98%);
  }
}

.overlay .pic-container {
  grid-area: pics;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.5) translate(-50%, 4%);
  margin-top: 20px;
}

.overlay .carousel-wrapper {
  position: relative;
}

/* Styles de rename modal */
.overlay-rename {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.overlay-rename.active {
  display: flex;
}

/* Styles de la carte */
.card-rename {
  width: 90%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}
rename-textarea {
  overflow-y: auto;
}

/* Styles de rename modal */
.overlay-rename {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.overlay-rename.active {
  display: flex;
}

/* Styles de la carte */
.card-rename {
  width: 90%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}
rename-textarea {
  overflow-y: auto;
}

.extension-label {
  user-select: none; /* empêche l'extension d'être sélectionnée */
}
.rename-input-container {
  display: flex;
  align-items: center;
  gap: 4px; /* Espace entre le textarea et l'extension */
}

.rename-textarea {
  flex-grow: 1;
  border: 1px solid #ccc; /* Assurez-vous que cela correspond au style existant */
  border-radius: 4px; /* Assurez-vous que cela correspond au style existant */
  padding: 0.375rem 0.75rem; /* Assurez-vous que cela correspond au style existant */
  height: 40px; /* Hauteur définie précédemment */
}

.file-extension {
  background-color: transparent; /* Pour un fond transparent */
  color: black; /* Assurez-vous que cela correspond au style existant */
  user-select: none; /* Empêcher la sélection de texte de l'extension */
  flex-direction: end;
}
