/* Styles de l'overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}

/* Styles de la carte */
.card {
  width: 50%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .card {
    background: #333;
  }
}

/* Styles du bouton de fermeture */
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* Styles du contenu de la carte */
.card-content {
  height: 306px; /* 306 because the scrollbar of the card when text area is show appears */
  overflow-y: auto;
}

/* Styles du texte de la carte */
.card-content p {
  font-size: 18px; /* Increase font size for fertilizer instructions */
  margin: 0; /* Remove margin from the top of the text */
  border: none; /* Remove border from the text */
  width: 100%;
  height: 100%;
  resize: none;
  white-space: wrap; /* Enable automatic line wrapping */
  font-family: Arial, sans-serif, Bold; /* Specify a fallback font */
  font-size: 20px;
  font-weight: 400; /* Normal weight */
  color: #000000; /* Dark gray */
  text-decoration: none;

}

/* Styles du textarea de la carte */
.card-content textarea {
  width: 100%;
  height:100%;
  resize: none;
  font-size: 17px; /* Set base font size for card content */
  max-height: fit-content;
  font-family: Arial, sans-serif, Bold; /* Specify a fallback font */
  font-size: 20px;
  font-weight: 400; /* Normal weight */
  color: #000000; /* Dark gray */
  text-decoration: none;
  overflow-y:visible;
}

/* Styles du pied de page de la carte */
.card-footer {
  text-align: right;
  margin-top: 10px;
}

/* Styles du bouton modifier/enregistrer */
.card-footer button {
  width: 150px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.card ::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}
.card ::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(118, 118, 118);
}
.card ::-webkit-scrollbar-track {
  margin-top: 3px;
  padding-right: 10px;
  background: transparent;
}

@media only screen and (min-width: 850px) {
  .formPage-container {
    grid-template-areas:
      "pics data"
      "pics open-icon";  /* Add a new row for the open-icon */
    grid-template-columns: 42% 55%;
  }
}

@media only screen and (max-width: 850px) {
  .formPage-container {
    grid-template-areas:
      "pics"
      "data";
    justify-content: center;
  }
}

.pic-container {
  grid-area: pics;
  margin-right:10px ;
}

@media (prefers-color-scheme: dark) {
  .open-icon {
    filter: invert(74%) sepia(37%) saturate(0%) hue-rotate(249deg) brightness(101%) contrast(98%);
  }
}
