header {
  width: 100%;
  z-index: 997;
}
header nav {
  background-color: #05486c;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#version {
  font-weight: 700;
  right: 12px;
  color: red;
  align-content: center;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
}

#header-img {
  max-height: 50px;
  width: 90%;
}

@media only screen and (min-width: 850px) {
  #version {
    position: absolute;
  }
}

@media only screen and (max-width: 850px) {
  #version {
    width: 90%;
    position: initial;
  }
  header ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

header ul {
  list-style-type: none;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + * {
  padding-top: 102px !important;
}

#burger{
  display: block;
  height: 50px;
  position: absolute;
  left: 2px;
  width: auto;
  object-fit: contain;
}

#burger a{
  cursor: pointer;
  display: block;
  height: 100%;
}

#burger img{
  height: 100%;
  filter: invert(77%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(91%) contrast(86%);
  transition: all 0.2s ease-in-out;
}

.flash{
  filter: invert(100%) sepia(3%) saturate(874%) hue-rotate(217deg) brightness(115%) contrast(87%)!important;
}
