.carousel-wrapper {
  display: flex;
  flex-direction: column;
}

/* Styles for the currently displayed image */
.curr-img {
  display: flex;
  align-items: center;
}
.curr-img img {
  width: 100%;
  height: auto;
}
/* Fixed 'prev' and 'next' buttons on the sides of the carousel */
.prev,
.next {
  cursor: pointer;
  background-color: #dcdada;
  color: white;
  font-weight: bold;
  font-size: 4em; /* Reduced size for the buttons */
  padding: 8px; /* Reduced padding for the buttons */
  user-select: none; /* Avoids text selection on hover */
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  transition: 0.6s ease;
  z-index: 10; /* Ensure the arrows are above other elements */
}

.prev {
  left: 0;
  margin-right: 4px;
  margin-left: 3px;
  border-radius: 18px 0 0 18px;
}

.next {
  right: 0;
  margin-left: 4px;
  margin-right: 3px;
  border-radius: 0 18px 18px 0;
}

.prev:hover,
.next:hover {
  background-color: #bdbdbd;
}

.react-transform-component,
.react-transform-wrapper {
  width: 100% !important; /* Width at 100% of .curr-img */
}

.carousel-wrapper .react-transform-wrapper img {
  width: inherit;
}

/* Styles for the image container with thumbnails */
.carousel {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Styles for individual carousel thumbnails */
.carousel-img {
  margin-top: 20px;
  object-fit: cover;
  transition: transform 0.3s;
  display: flex;
  width: calc(
    (100% - 40px) / 3
  ); /* Displays 3 images, including the space between them */
}

.carousel-img:hover {
  transform: scale(1.1);
}

/* Styles for the "current" image (selected thumbnail) */
.carousel-img.current {
  border: solid 4px #bab9b9;
}
.carousel-img:not(.current) {
  opacity: 0.7;
}

/* Styles for the scrollbar (customization optional) */
.carousel::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  padding: 20px;
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(118, 118, 118);
}

.carousel::-webkit-scrollbar-track {
  margin-top: 3px;
  padding-right: 10px;
  background: transparent;
}
