.carousel-wrapper {
  grid-area: pics;
  display: flex;
  max-width: 50%;
  height: fit-content;
  flex-direction: column;
  height: 50vh;
}

/* Styles for the currently displayed image */
.curr-img {
  display: grid;
  grid-template-areas:
    "    .         .           .    "
    "arrowLeft imgCurrent arrowRight"
    "    .         .           .    ";
  grid-template-rows: 0% 100% 0%;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.curr-img img {
  height: auto;
}
/* Fixed 'prev' and 'next' buttons on the sides of the carousel */
.prev,
.next {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  cursor: pointer;
  background-color: #dcdada;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  user-select: none;
  transform: translateY(-50%);
  transition: 0.6s ease;
  z-index: 10;
}

.prev {
  border-radius: 18px 0 0 18px;
  grid-area: arrowLeft;
  grid-row: 2;
  grid-column: 1;
  margin-right: 15px;
}

.next {
  border-radius: 0 18px 18px 0;
  grid-area: arrowRight;
  grid-row: 2;
  grid-column: 3;
  margin-left: 15px;
}

.prev:hover,
.next:hover {
  background-color: #bdbdbd;
}

.react-transform-component,
.react-transform-wrapper {
  width: 100% !important; 
}
.on-drag{
  cursor: grabbing !important;
}

.transform-component-module_wrapper__SPB86 {
  grid-area: imgCurrent;
  grid-row: 2;
  grid-column: 2;
  display: inline;
  aspect-ratio: 1 / 1;
  cursor: url('../../assets/zoomInOutCursor.svg') 50 50, auto;
}
react-transform-wrapper {
  height: 100% !important;
  width: 100% !important;
}
.transform-component-module_content__FBWxo {
  display: relative;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  transition: 0.2s ease;
}

.carousel-wrapper .react-transform-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Styles for the image container with thumbnails */
.carousel {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Styles for individual carousel thumbnails */
.carousel-img {
  margin-top: 20px;
  object-fit: cover;
  transition: transform 0.3s;
  display: flex;
  width: calc(
    (100% - 40px) / 3
  ); /* Displays 3 images, including the space between them */
}

.carousel-img:hover {
  transform: scale(1.1);
}

/* Styles for the "current" image (selected thumbnail) */
.carousel-img.current {
  border: solid 4px #bab9b9;
}
.carousel-img:not(.current) {
  opacity: 0.7;
}

/* Styles for the scrollbar (customization optional) */
.carousel::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  padding: 20px;
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(118, 118, 118);
}

.carousel::-webkit-scrollbar-track {
  margin-top: 3px;
  padding-right: 10px;
  background: transparent;
}
