/* SettingPage.css */
.settings {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#language {
  display: flex;
}

#language label {
  display: block;
  margin: auto 20px auto 0;
}

#language select {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settings hr {
  width: 100%;
}