span:has(.h1-skeleton){
    margin-top:20px;
    display:flex;
    width:40%;

}
.data-container h1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    text-align: left;
    margin-left: 10px;
    font-size: 35px;
    width: 100%;
}
.h1-skeleton{
    grid-column: 1;
    grid-row: 1 / span 2;
    text-align: left;
    font-size: 35px;
    width: 100%;
}