.file-list {
  border-radius: 5px;
  grid-row: 2;
  padding: 5px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.file-list .active{
  color:black;
  background-color: #cccccc00!important;
}

.file-list-container {
  display: flex;
  grid-area: b;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  overflow-x: hidden;
  height: 100%;
@media only screen and (max-width: 1092px) {
  body, html{
    overflow-y: scroll!important;
  }
}

@media only screen and (min-width: 1092px) {
  .file-list.empty {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1092px) {
  .file-list.empty {
    width: 96%;
    flex-direction: column;
    justify-content: center;
    min-height:30vh;
  }
  .file-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .file-list-container{
    grid-row: 3!important;
    max-height: 30vh;
    min-height: 30vh;
  }
}

.file-list.empty {
  display: flex;
  align-items: center;
  height: 100%;
}

.no-element {
  display: none;
}

.no-element.active {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}
