.file-element {
  position: relative;
  border: 2px solid #999;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  width: 95%;
  margin:10px 2%;
  transition: box-shadow 0.3s ease;
  transition: border-color 0.3s ease;
}

.file-element:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.file-element.selected {
  background-color: #aaa;
  border-color: #666;
}

.file-element img {
  flex:1;
  max-width: 100px;
  margin: 5px;
  height: auto;
  grid-area: pic;
}

.file-element p {
  flex: 1;
  grid-area: title;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.file-element:hover .cross {
  opacity: 1;
}
.cross {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: solid;
  border-radius: 100%;
  background: #777a;
}

.card:hover .cross {
  opacity: 1;
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 15px;
  background-color: #333;
  transform: translate(-50%, -50%);
}

.cross:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
