#root {
  text-align: center;
  width: 100%;
  --light-background: #fff;
  --light-text: #333;
  --dark-background: #222;
  --dark-text: #fff;
  --header-height:100px;
}

body {
  display: block;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.light-theme {
  background-color: var(--light-background);
  color: var(--light-text);
}

.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

/* Button template*/
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dcdcdc;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
