#root {
  text-align: center;
  width: 100%;
  --light-background: #fff;
  --light-text: #333;
  --dark-background: #222;
  --dark-text: #fff;
}

body {
  display: block;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.light-theme {
  background-color: var(--light-background);
  color: var(--light-text);
}

.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

.App {
  padding-left: 60px;
  transition: padding 0.5s;
}
