.progress-bar-vertical {
  flex-direction: column;
  width: 35px;
  height: 120%;
  border-radius: 15px;
  overflow: hidden;
  position: sticky;
}

.progress-wrapper {
  position: fixed;
  right: 20px;
  top: 60px;
}

.section {
  background-color: rgb(185, 185, 185);
  flex: 1;
  height: 5%;
}

.section.approved {
  background-color: rgb(18, 178, 18);
}
.section.modified {
  background-color: rgb(255, 255, 0);
}
.section.rejected {
  background-color: rgb(255, 0, 0);
}
