.progress-bar-vertical {
    flex-direction: column;
    width: 30px;
    height: 120%;
    border-radius: 15px;
    overflow: hidden;
    position: sticky;
    }

    .section {
    flex: 1;
    }
    

    
    