.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap:10px;
    
}

@media only screen and (min-width:850px) {
    .container{
        grid-template-areas:
        "a b"
        "c b";
        grid-template-columns: 52% 33%;
        justify-content: space-evenly;
        padding: 0% 3%;
    }
}

@media only screen and (max-width:850px){
    .container{
        grid-template-areas: "a"
                             "c"
                             "b";
        padding: 0% 10%;
    }
}

.submit-btn{
    margin-top:50px;
    grid-area: c;
}
